src/main/app/order-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
xmlns="http://www.mulesoft.org/schema/mule/core"
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
xmlns:ws="http://www.mulesoft.org/schema/mule/ws" 
xmlns:http="http://www.mulesoft.org/schema/mule/http" 
xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
xmlns:spring="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    
    <http:listener-config name="http8086" host="0.0.0.0" port="8086" doc:name="HTTP Listener Configuration" />
    
    <ws:consumer-config name="orderSoapService" wsdlLocation="orders.wsdl" service="OrderServiceService" port="OrderServicePort"
        serviceAddress="http://training-u.cloudhub.io/advanced/orders" doc:name="Web Service Consumer" />
    <sub-flow name="retrieveOrders">
        <set-variable variableName="dateRange" value="#[message.inboundProperties.'http.query.params'.range]" doc:name="dateRange"/>
        <parse-template location="orderRequest.xml" doc:name="Order Request"/>
        <ws:consumer config-ref="orderSoapService" operation="provisionOrder" doc:name="SOAP provisionOrder"/>
        <dw:transform-message doc:name="legacy Orders to CDM">
            <dw:input-payload doc:sample="provisionOrderResponse.xml"/>
            <dw:set-payload resource="classpath:provisionOrders_to_cdm.dwl"/>
        </dw:transform-message>
    </sub-flow>
    
    <flow name="main">
        <http:listener config-ref="http8086" path="/" doc:name="HTTP" />
        <flow-ref name="retrieveOrders" doc:name="retrieveOrders"/>
        <flow-ref name="processOrders" doc:name="processOrders"/>
    </flow>
    
    <flow name="processOrders">
        <dw:transform-message metadata:id="94abbaf0-359b-4acf-9bc8-6a7c7183d10d" doc:name="Transform Message">
            <dw:input-payload doc:sample="list_Map.dwl" />
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload groupBy $.location]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="DEBUG" category="com.mulesoft.training.order-system.processOrders" doc:name="DEBUG" />
    </flow>
</mule>
