src/main/app/order-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="processOrders">
        <dw:transform-message metadata:id="94abbaf0-359b-4acf-9bc8-6a7c7183d10d" doc:name="Transform Message">
            <dw:input-payload doc:sample="list_Map.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload groupBy $.location]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="DEBUG" category="com.mulesoft.training.order-system.processOrders" doc:name="Logger"/>
    </flow>
</mule>
